<div class="container" style="width: 90%; padding-top: 2em;">
  <div class="row">
    <div class="col s12 m5">
      <div class="card">
        <div class="card-content">
          <form #personForm="ngForm" (ngSubmit)="addPerson(personForm)">
            <input
              type="hidden"
              name="_id"
              #_id="ngModel"
              [(ngModel)]="personService.selectedPerson._id"
            />
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="text"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="personService.selectedPerson.name"
                  placeholder="Enter your Name"
                />
              </div>

              <div class="input-field col s12">
                <input
                  type="text"
                  name="province"
                  #province="ngModel"
                  [(ngModel)]="personService.selectedPerson.province"
                  placeholder="Enter your Province"
                />
              </div>

              <div class="input-field col s12">
                <input
                  type="date"
                  name="dateOfBirth"
                  #dateOfBirth="ngModel"
                  [(ngModel)]="personService.selectedPerson.dateOfBirth"
                  placeholder="Enter your date of Birth"
                />
              </div>

              <div class="input-field col s12">
                <input
                  type="text"
                  name="genre"
                  #genre="ngModel"
                  [(ngModel)]="personService.selectedPerson.genre"
                  placeholder="Enter your genre"
                />
              </div>

              <div class="card-action">
                <div class="input-field col s12 m6">
                  <button class="save btn">
                    <i class="material-icons left">save</i>
                    Save
                  </button>
                </div>
                <div class="input-field col s12 m6">
                  <button
                    class="save btn blue-grey darken-4"
                    (click)="resetForm(personForm)"
                  >
                    <i class="material-icons left">backspace</i>
                    Clean Fields
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <table class="responsive-table">
        <thead>
          <th>Name</th>
          <th>Province</th>
          <th>Date Of Birth</th>
          <th>Genre</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let person of personService.people">
            <td>{{ person.name }}</td>
            <td>{{ person.province }}</td>
            <td>{{ person.dateOfBirth }}</td>
            <td>{{ person.genre }}</td>
            <td>
              <a
                (click)="editPerson(person)"
                class="btn amber accent-4 waves-effect waves-light"
              >
                <i class="material-icons">edit</i>
              </a>
              <a
                (click)="deletePerson(person._id)"
                class="btn red darken-3 waves-effect waves-light"
              >
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
